<ion-header>
  <ion-navbar>
    <ion-title>Inicio de sesión</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <form [formGroup]="body" (ngSubmit)="logForm()">
      <ion-item>
        <ion-label stacked>Correo electrónico</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label stacked>Contraseña</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      
      <button ion-button type="submit" block [disabled]="!body.valid">Ingresar</button>
    </form>
  </ion-list>
</ion-content>

