<ion-header>
  <ion-navbar>
    <ion-title *ngIf="data">{{ data.message }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card>

    <img src="assets/img/bjork-live.jpg"/>

    <ion-card-content>
      <ion-card-title>
        Björk
      </ion-card-title>
      <p>
        Björk first came to prominence as one of the lead vocalists of the avant pop Icelandic sextet the Sugarcubes, but when...
      </p>
      
      <br>
      <br>
      
      <p *ngIf="data">{{ data.data.email }}</p>
      <p *ngIf="data">{{ data.data.phone }}</p>
      <p *ngIf="data">{{ data.data.job_title }}</p>
    </ion-card-content>

    <ion-item>
      <ion-icon name='logo-facebook' item-start style="color: #0f4c7b"></ion-icon>
      Facebook
      <ion-badge item-end>1.76M</ion-badge>
    </ion-item>
    <ion-item>
      <ion-icon name='logo-twitter' item-start style="color: #55acee"></ion-icon>
      Twitter
      <ion-badge item-end>954k</ion-badge>
    </ion-item>
    <ion-item>
      <ion-icon name='logo-googleplus' item-start style="color: #d21a1a"></ion-icon>
      Google+
      <ion-badge item-end>9k</ion-badge>
    </ion-item>
    <ion-item>
      <ion-icon name='logo-linkedin' item-start style="color: #55acee"></ion-icon>
      Linkedin
      <ion-badge item-end>5k</ion-badge>
    </ion-item>

  </ion-card>

</ion-content>